@model BrewDay.Domain.Entities.RecipeIngredient

@{
    ViewBag.Title = "Tutti gli Ingredienti";
    var prop = new { @class = "form-control" }; // oggetto anonimo C#, utile per creare oggetti senza doverne definire la classe (che si usano solitamente una sola volta, spesso in combinazione con i json)
}

<div class="container">
    <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">?</button>

    <!-- Modale -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Contenuto del modale-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Aggiunta Ingredienti</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Scegliere l'Ingrediente desiderato, impostare la quantità necessaria ed infine aggiungerlo alla ricetta premento il pulsante blu.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ho capito!</button>
                </div>
            </div>

        </div>
    </div>

</div>

<h2>@ViewBag.Title</h2>
<hr />

<form method="post">
    <input type="hidden" value="@ViewBag.RecipeId" name="RecipeId" />

    <div class="form-group col-md-2">
        <label>Ingrediente</label>
        @Html.DropDownList("IngredientId", (SelectList)ViewBag.Ingredients, string.Empty, new { @class = "form-control" })
    </div>

    <div class="form-group col-md-2">
        <label>Quantità</label>
        @Html.EditorFor(m => m.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-12">
        <input type="submit" class="btn btn-primary" value="Aggiungi un nuovo Ingrediente alla Ricetta" />
    </div>


</form>

