@model BrewDay.Domain.Entities.Recipe

@{
    ViewBag.Title = Model.Name;
}

<!-- ----------------- TITOLO ----------------- -->
<h2>
    @ViewBag.Title
    <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
          data-header="Configuratore di Ricette" data-body="Gestisci in un'unica pagina l'intero ciclo di vita della tua Ricetta! 
          Onde evitare che tu perda lo storico delle Produzioni, è IMPOSSIBILE modificare gli ingredienti di una Ricetta che possiede Produzioni. A questo scopo, crea una versione alternativa."></span>
    @if (Model.Productions.Count == 0 && Model.Versions.Count == 0)
    {
        <a href="@Url.Action("Delete", new { id = Model.RecipeId })" class="pull-right"><span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Elimina"></span> </a>
    }
</h2>

@if (TempData.ContainsKey("Message"))
{
    <div id="message" class="alert alert-danger">@TempData["Message"]</div>
}
<hr />

<!-- ----------------- DETTAGLI BASE ----------------- -->

<dl class="dl-horizontal">
    <dt> Padre</dt>
    <dd> <a href="/Recipes/Details/@Model.ParentRecipeId">@(Model.ParentRecipe?.FullName)</a> @*@Html.ActionLink(Model.ParentRecipe?.Name ?? "", "Details", new { id = Model?.ParentRecipeId })*@ </dd>

    <dt>@Html.DisplayNameFor(model => model.Name) </dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>

    <dt> @Html.DisplayNameFor(model => model.Description) </dt>
    <dd> @Html.DisplayFor(model => model.Description)</dd>

    <dt> @Html.DisplayNameFor(model => model.Note) </dt>
    <dd> @Html.DisplayFor(model => model.Note)</dd>

    <dt> @Html.DisplayNameFor(model => model.FermentationTemperature) </dt>
    <dd> @Html.DisplayFor(model => model.FermentationTemperature) °C</dd>

    <dt> @Html.DisplayNameFor(model => model.FermentationTime) </dt>
    <dd> @Html.DisplayFor(model => model.FermentationTime) giorni</dd>

    <dt></dt>
    <dd><a href="@Url.Action("Edit", new { id = Model.RecipeId })" class="btn btn-primary margin-top-20">Modifica</a></dd>
</dl>

<div class="clearfix margin-bottom-30"></div>



<!-- ----------------- MENU TAB ----------------- -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Ingredient" aria-controls="Ingredient" role="tab" data-toggle="tab">Ingredienti</a></li>
    <li role="presentation"><a href="#Production" aria-controls="Production" role="tab" data-toggle="tab">Produzioni</a></li>
    <li role="presentation"><a href="#Clone" aria-controls="Clone" role="tab" data-toggle="tab">Versioni</a></li>
</ul>


<div class="tab-content">

    <!-- ------ TAB INGREDIENTI -->
    <div role="tabpanel" class="tab-pane active" id="Ingredient">
        @if (Model.Ingredients.Count() > 0)
        {
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th style="min-width:15%;">Tipo</th>
                        <th style="min-width:25%;">Nome</th>
                        <th style="width:200px;">Quantità</th>
                        <th>Descrizione</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Ingredients)
                    {
                        <tr>
                            <td>@Html.DisplayEnumLabel(item.Ingredient.Type)</td>
                            <td>
                                <a href="/Ingredients/Details/@item.IngredientId" data-toggle="tooltip" title="Vedi dettagli Ingrediente" data-placement="right">@item.Ingredient.Name</a>
                                <a class="pull-right" href="@Url.Action("Create", "Stocks", new { ingredientId = item.IngredientId })" target="_blank"
                                   data-toggle="tooltip" title="Aggiungimi alle Scorte" data-placement="top"><span class="glyphicon glyphicon-plus"></span></a>
                            </td>
                            <td class="text-right" style="white-space:nowrap;"> @item.Quantity grammi / litro </td>
                            <td>@item.Ingredient.Description</td>
                            <td class="action-column">
                                @if (!Model.HasProductions)
                                {
                                    <a href=@Url.Action("RemoveIngredient", new { recipeId = Model.RecipeId, ingredientId = item.IngredientId })>
                                        <span class="glyphicon glyphicon-remove" style="color:#ce1f1f"> </span>
                                        Rimuovi dalla ricetta
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>Per questa Ricetta non sono ancora stati specificati degli Ingredienti</h4>
        }

        @if (!Model.HasProductions)
        {
            <a href="@Url.Action("AddIngredient", new { id = Model.RecipeId })" class="btn btn-success">Aggiungi Ingrediente</a>
        }
        else{
            <div> Non puoi aggiungere un Ingrediente a questa Ricetta perché perderesti lo storico Produzioni. Puoi <a href="/Recipes/Clone/@Model.RecipeId">creare una versione alternativa</a>. </div>
        }
    </div>


    <!-- ------ TAB PRODUZIONI -->
    <div role="tabpanel" class="tab-pane" id="Production">
        @if (Model.Productions.Count == 0)
        {
            <h4>Questa Ricetta non è mai ancora stata mandata in Produzione</h4>
        }
        else
        {
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateStart)</th>
                        <th> @Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateEndEstimated)</th>
                        <th> @Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateEnd)</th>
                        <th style="min-width:250px;">@Html.DisplayNameFor(model => model.Productions.FirstOrDefault().Note)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Productions)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                            <td style="color:@(item.Completed ? "lightgrey" : "inherit" )">@Html.DisplayFor(modelItem => item.DateEndEstimated)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateEnd)</td>
                            <td>@Html.DisplayFor(modelItem => item.Note)</td>
                            <td class="action-column">
                                <a href=@Url.Action("Details", "Productions", new { Id = item.ProductionId })>
                                    <span class="glyphicon glyphicon-search"></span>
                                    Mostra Dettagli
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <div class="row col-md-4">
            <form action="/Productions/Play" class="pull-left">
                <input type="hidden" name="recipeId" value="@Model.RecipeId" />
                <div class="input-group">
                    <input placeholder="Quantità di birra da produrre" type="number" name="qty" class="form-control" autocomplete="off" required />
                    <div class="input-group-addon"> litri </div>
                </div>
                <input type="submit" class="btn btn-success margin-top-10" value="Manda in produzione"
                       data-toggle="tooltip" title="Ricordati che devi avere abbastanza scorte e strumenti (1 tubo, 1 fermentatore, 1 bollitore) a disposizione" data-placement="right" />
            </form>
        </div>
    </div>


    <!-- ------ TAB VERSIONI -->
    <div role="tabpanel" class="tab-pane" id="Clone">

        @if (Model.Versions.Count == 0)
        {
            <h4>Questa Ricetta non possiede ancora nessuna versione alternativa</h4>
        }
        else
        {
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.Versions.FirstOrDefault().Name)</th>
                        <th> @Html.DisplayNameFor(model => model.Versions.FirstOrDefault().Description)</th>
                        <th> @Html.DisplayNameFor(model => model.Versions.FirstOrDefault().Note)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Versions)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Note)</td>
                            <td class="action-column">
                                <a href=@Url.Action("Details", "Recipes", new { Id = item.RecipeId })>
                                    <span class="glyphicon glyphicon-search"></span>
                                    Mostra Dettagli
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <form action="/Recipes/Clone">
            <input type="hidden" name="id" value="@Model.RecipeId" />
            <input type="hidden" name="name" value="@Model.Name" />
            <input type="submit" class="btn btn-default btn-success pull-left" data-toggle="tooltip" title="Clona la ricetta attuale" data-placement="right" value="Crea una versione alternativa" />
        </form>
    </div>

</div>

<div class="clearfix"></div>
<a href="@Url.Action("Index")" class="btn btn-default pull-right">Torna alle ricette</a>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#message").delay(3000).hide(200);
        });
    </script>
}
