@model BrewDay.Domain.Entities.Recipe

@{
    ViewBag.Title = "Details";
    string a = null;
    ViewBag.IngredientRecipe = Model.RecipeId;
}

<div class="container">
    <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">?</button>

    <!-- Modale -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Contenuto del modale-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Gestione Ingredienti per Ricetta</h4>
                </div>
                <div class="modal-body">
                    <p>
                        È possibile aggiungere elementi alle Ricette specificando quanti litri di Birri si vogliono produrre.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ho capito!</button>
                </div>
            </div>

        </div>
    </div>

</div>


<h2>Dettagli ricetta @Model.Name</h2>

@if (TempData.ContainsKey("Message"))
{
    <div id="message" class="alert alert-danger">@TempData["Message"]</div>
}

<hr />
<dl class="dl-horizontal">
    <dt> Padre</dt>
    <dd> <a href="/Recipes/Details/@Model.ParentRecipeId">@(Model.ParentRecipe?.FullName)</a> @*@Html.ActionLink(Model.ParentRecipe?.Name ?? "", "Details", new { id = Model?.ParentRecipeId })*@ </dd>

    <dt>@Html.DisplayNameFor(model => model.Name) </dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>

    <dt> @Html.DisplayNameFor(model => model.Description) </dt>
    <dd> @Html.DisplayFor(model => model.Description)</dd>

    <dt> @Html.DisplayNameFor(model => model.Note) </dt>
    <dd> @Html.DisplayFor(model => model.Note)</dd>

    <dt> @Html.DisplayNameFor(model => model.FermentationTemperature) </dt>
    <dd> @Html.DisplayFor(model => model.FermentationTemperature) </dd>
</dl>

<a href="@Url.Action("AddIngredient", new { id = Model.RecipeId })" class="btn btn-primary pull-right">Aggiungi Ingrediente</a>

<table class="table table-bordered table-striped table-hover full-width">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Ingredients)</th>
            <th>Quantità</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ingredients)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Ingredient.FullName)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <a href="@Url.Action("Create", "Stocks", new {ingredientId = item.IngredientId })"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Aggiungimi alle Scorte"></span></a>
                </td>
                <td><a href=@Url.Action("RemoveIngredient", new { recipeId = Model.RecipeId, ingredientId = item.IngredientId })><span class="glyphicon glyphicon-trash"></span></a> </td>
                <td><a href=@Url.Action("Details", "Ingredients", new {Id = item.IngredientId })><span class="glyphicon glyphicon-info-sign"></span></a> </td>
            </tr>
        }
    </tbody>

</table>

<div class="row col-md-12">
    <a href="@Url.Action("Edit", new { id = Model.RecipeId })" class="btn btn-default pull-left">Modifica</a>
    <form action="/Productions/Play" class="pull-right">
        <label>Quantità</label>
        <input type="hidden" name="recipeId" value="@Model.RecipeId" />
        <input type="number" name="qty" class="form-control" />
        <p></p>
        <input type="submit" class="btn btn-default btn-success" value="Manda in Produzione la Ricetta" />
    </form>
</div>

<div class="row col-md-12">
    <a href="@Url.Action("Index")" class="btn btn-default pull-left">Torna indietro</a>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#message").delay(3000).hide(200);
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
