@model BrewDay.Domain.Entities.Recipe

@{
    ViewBag.Title = "Details";
    string a = null;
    ViewBag.IngredientRecipe = Model.RecipeId;
}

<!-- ----------------- TITOLO ----------------- -->
<h2>
    Dettagli della Ricetta @Model.Name
    <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
          data-header="Configuratore di Ricette" data-body="Qui è possibile gestire gli Ingredienti precedentemente aggiunti alla Ricetta"></span>
</h2>

@if (TempData.ContainsKey("Message"))
{
    <div id="message" class="alert alert-danger">@TempData["Message"]</div>
}
<hr />

<!-- ----------------- DETTAGLI BASE ----------------- -->

<dl class="dl-horizontal">
    <dt> Padre</dt>
    <dd> <a href="/Recipes/Details/@Model.ParentRecipeId">@(Model.ParentRecipe?.FullName)</a> @*@Html.ActionLink(Model.ParentRecipe?.Name ?? "", "Details", new { id = Model?.ParentRecipeId })*@ </dd>

    <dt>@Html.DisplayNameFor(model => model.Name) </dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>

    <dt> @Html.DisplayNameFor(model => model.Description) </dt>
    <dd> @Html.DisplayFor(model => model.Description)</dd>

    <dt> @Html.DisplayNameFor(model => model.Note) </dt>
    <dd> @Html.DisplayFor(model => model.Note)</dd>

    <dt> @Html.DisplayNameFor(model => model.FermentationTemperature) </dt>
    <dd> @Html.DisplayFor(model => model.FermentationTemperature) </dd>
</dl>

<div class="clearfix"></div>

<a href="@Url.Action("Edit", new { id = Model.RecipeId })" class="btn btn-primary col-md-offset-2">Modifica</a>

<div class="clearfix margin-bottom-30"></div>

<!-- ----------------- MENU TAB ----------------- -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Ingredient" aria-controls="Ingredient" role="tab" data-toggle="tab">Ingredienti</a></li>
    <li role="presentation"><a href="#Production" aria-controls="Production" role="tab" data-toggle="tab">Produzioni</a></li>
    <li role="presentation"><a href="#Clone" aria-controls="Clone" role="tab" data-toggle="tab">Versioni</a></li>
</ul>


<div class="tab-content">

    <!-- ------ TAB INGREDIENTI -->
    <div role="tabpanel" class="tab-pane active" id="Ingredient">
        <table class="table table-bordered table-striped table-hover full-width">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th>Quantità</th>
                    <th>Descrizione</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.Ingredients)
                {
                    <tr>
                        <td style="width:15%;">@Html.DisplayEnumLabel(item.Ingredient.Type)</td>
                        <td style="width:25%;">
                            <a href="/Ingredients/Details/@item.IngredientId">@item.Ingredient.Name</a>
                            <a class="pull-right" href="@Url.Action("Create", "Stocks", new {ingredientId = item.IngredientId })" data-toggle="tooltip" title="Aggiungimi alle Scorte" data-placement="right"><span class="glyphicon glyphicon-plus"></span></a>
                        </td>
                        <td class="text-right" style="width:130px;">
                            @item.Quantity
                        </td>
                        <td>@item.Ingredient.Description</td>

                        @if (Model.Productions.Count == 0)
                        {
                            <td class="action-column">
                                <a href=@Url.Action("RemoveIngredient", new { recipeId = Model.RecipeId, ingredientId = item.IngredientId })>
                                    <span class="glyphicon glyphicon-remove" style="color:#ce1f1f"> </span>
                                    Rimuovi dalla ricetta
                                </a>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Productions.Count == 0)
        {
            <a href="@Url.Action("AddIngredient", new { id = Model.RecipeId })" class="btn btn-success">Aggiungi Ingrediente</a>
        }
    </div>


    <!-- ------ TAB PRODUZIONI -->
    <div role="tabpanel" class="tab-pane" id="Production">
        @if (Model.Productions.Count == 0)
        {
            <h4>La ricetta Selezionata non è mai stata mandata in Produzione</h4>
        }
        else
        {
            <table class="table table-bordered table-striped table-hover full-width">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateStart)</th>
                        <th>@Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateEndEstimated)</th>
                        <th>@Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateEnd)</th>
                        <th>Quantità</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model.Productions)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateEndEstimated)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateEnd)</td>
                            <td class="action-column">
                                <a href=@Url.Action("Stop", "Production", new { recipeId = Model.RecipeId, ingredientId = item.ProductionId }) data-toggle="tooltip" title="Concludi Produzione" data-placement="left"><span class="glyphicon glyphicon-minus-sign pull-left" style="margin-left:15px"></span></a>
                                <a href=@Url.Action("Details", "Production", new { Id = item.ProductionId }) data-toggle="tooltip" title="Info sulla Produzione" data-placement="right"><span class="glyphicon glyphicon-info-sign pull-right" style="margin-right:15px"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <div class="row col-md-3 margin-top-20">
            <form action="/Productions/Play" class="pull-left">
                <label>Quantità</label>
                <input type="hidden" name="recipeId" value="@Model.RecipeId" />
                <div class="input-group">
                    <input type="number" name="qty" class="form-control" required />
                    <div class="input-group-addon"> litri </div>
                </div>
                <p></p>
                <input type="submit" class="btn btn-default btn-success pull-left" value="Clona la ricetta attuale" data-toggle="tooltip" title="Ricordati che devi avere abbastanza scorte e strumenti a disposizione" data-placement="right" />
            </form>
        </div>
    </div>


    <!-- ------ TAB VERSIONI -->
    <div role="tabpanel" class="tab-pane" id="Clone">

        <div class="row col-md-12">
            <form action="/Recipes/Clone">
                <input type="hidden" name="id" value="@Model.RecipeId" />
                <input type="hidden" name="name" value="@Model.Name" />
                <input type="submit" class="btn btn-default btn-success pull-left" data-toggle="tooltip" title="Clona la ricetta attuale" data-placement="right" value="Crea una versione alternativa" />
            </form>
        </div>
    </div>

</div>

<div class="clearfix"></div>
<a href="@Url.Action("Index")" class="btn btn-default pull-right">Torna alle ricette</a>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#message").delay(3000).hide(200);
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        $('#BrewTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>

    <script>
        $('#BrewTabs a[href="#Ingredient"]').tab('show')
        $('#BrewTabs a[href="#Production"]').tab('show')
        $('#BrewTabs a[href="#Clone"]').tab('show')
    </script>
}
