@model IEnumerable<BrewDay.Domain.Entities.Recipe>

@{
    ViewBag.Title = "Tutte le Ricette";
    ViewBag.Page = "#nav-recipes";
}


<h2>
    @ViewBag.Title
    <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
          data-header="Elenco Ricette" data-body="Qui hai un elenco di tutte le tue Ricette. 
                Onde evitare che tu perda lo storico delle Produzioni, NON É POSSIBILE aggiungere ingredienti o cancellare Ricette che già possiedono delle Produzioni."></span>
</h2>

<div class="row col-md-12">
    <a href="@Url.Action("Create")" class="btn btn-primary pull-right">Registra nuova Ricetta</a>
</div>

<div class="row col-md-12">
    <table class="table data-table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th style="min-width:120px;"> @Html.DisplayNameFor(model => model.ParentRecipe) </th>
                <th> @Html.DisplayNameFor(model => model.Name) </th>
                <th> @Html.DisplayNameFor(model => model.Description) </th>
                <th style="width:100px;"> @Html.DisplayNameFor(model => model.FermentationTime) </th>
                <th class="no-sort no-search"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="/Recipes/Details/@item.ParentRecipeId">@(item.ParentRecipe?.Name ?? "")</a></td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td class="text-right">@item.FermentationTime giorni</td>
                    <td class="action-column">
                        <a href="@Url.Action("Details", new { id = item.RecipeId })"><span class="glyphicon glyphicon-search"></span> Dettagli</a>
                        <a href="@Url.Action("Edit", new { id = item.RecipeId })"><span class="glyphicon glyphicon-pencil"></span> Modifica</a>
                        @if (!item.HasProductions)
                        {
                            <a href="@Url.Action("AddIngredient", new { id = item.RecipeId })"><span class="glyphicon glyphicon-plus"></span> Ingredienti</a>
                            <a href="@Url.Action("Delete", new { id = item.RecipeId })" data-toggle="confirmation" data-title="Sei sicuro?"><span class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Elimina"></span> </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>