@model BrewDay.Models.Entities.Stock

@{
    ViewBag.Title = "Dettagli";
    ViewBag.Page = "#nav-stocks";
}

<h2>Dettagli</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.StockId }) |
    @Html.ActionLink("Torna indietro", "Index")
</p>
