@model BrewDay.Domain.Entities.Stock

@{
    ViewBag.Title = "Dettagli";
    ViewBag.Page = "#nav-stocks";
}

<h2>Dettagli</h2>
<hr />

<div class="row col-md-12">
    <dl class="dl-horizontal col-md-8">

        <dt> @Html.DisplayNameFor(model => model.Ingredient.Name) </dt>
        <dd> @Html.DisplayFor(model => model.Ingredient.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Quantity) </dt>
        <dd> @Html.DisplayFor(model => model.Quantity) </dd>

        <dt> @Html.DisplayNameFor(model => model.ExpireDate) </dt>
        <dd> @Html.DisplayFor(model => model.ExpireDate) </dd>

        <dt> @Html.DisplayNameFor(model => model.Note) </dt>
        <dd> @Html.DisplayFor(model => model.Note) </dd>

        <dt></dt>
        <dd><a href="@Url.Action("Edit", new { id = Model.StockId })" class="btn btn-primary margin-top-20">Modifica</a></dd>
    </dl>
</div>

<div class="row col-md-12">
    <a href="@Url.Action("Index")" class="btn btn-default pull-right">Torna alla lista scorte</a>
</div>
