@model IEnumerable<BrewDay.Domain.Entities.Instrument>

@{
    ViewBag.Title = "Tutti gli Strumenti";
    ViewBag.Page = "#nav-instruments";
}

<h2>
    @ViewBag.Title

    <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
          data-header="Gestione Strumenti" data-body="Pagina di gestione degli Strumenti necessari per la produzione di Birra. Non puoi eliminare strumenti attualmente utilizzati."></span>
</h2>

<div class="row col-md-12">
    <p><a href="@Url.Action("Create")" class="btn btn-primary pull-right">Registra nuovo Strumento</a></p>
</div>

<div class="row col-md-12">
    <table class="table data-table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Type)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th style="min-width:80px;"> @Html.DisplayNameFor(model => model.Quantity)</th>
                <th style="min-width:80px;"> @Html.DisplayNameFor(model => model.Used) </th>
                <th style="min-width:80px;"> @Html.DisplayNameFor(model => model.Capacity)</th>
                <th> @Html.DisplayNameFor(model => model.Description) </th>
                <th class="no-sort no-search"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayEnumLabel(item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td><span class="pull-right">@Html.DisplayFor(modelItem => item.Quantity) unità </span></td>
                    <td><span class="pull-right">@Html.DisplayFor(modelItem => item.Used) unità </span></td>
                    <td><span class="pull-right">@Html.DisplayFor(modelItem => item.Capacity) litri</span></td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="action-column">
                        <a href="@Url.Action("Details", new { id = item.InstrumentId })"><span class="glyphicon glyphicon-search"></span> Dettagli</a>
                        <a href="@Url.Action("Edit", new { id = item.InstrumentId })"><span class="glyphicon glyphicon-pencil"></span> Modifica</a>
                        <a href="@Url.Action("Delete", new { id = item.InstrumentId })"><span class="glyphicon glyphicon-trash"></span> Elimina</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>