@model BrewDay.Domain.Entities.Production

@{
    ViewBag.Title = "Dettagli";
    ViewBag.Page = "#nav-productions";
}

<h2>Dettagli della produzione</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEndEstimated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEndEstimated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt></dt>
        <br />
        <dd><a href="@Url.Action("Edit", new { id = Model.ProductionId })" class="btn btn-default pull-left btn-primary">Modifica</a> </dd>
        <br />
        <dd>
            <a href="@Url.Action("Stop", new { id = Model.ProductionId } )"class="btn btn-default pull-left btn-danger">Termina la produzione</a>
        </dd>
      
    </dl>
</div>
<p>
    <div class="row col-md-12">
        <a href="@Url.Action("Index")" class="btn btn-default pull-right">Torna indietro</a>
    </div>

    
</p>
