@model BrewDay.Domain.Entities.Production

@{
    ViewBag.Title = "Modifca";
    ViewBag.Page = "#nav-productions";
}

<h2>Modifica la nota associata</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductionId)
    @Html.HiddenFor(model => model.RecipeId)
    @Html.HiddenFor(model => model.DateStart)
    @Html.HiddenFor(model => model.DateEnd)
    @Html.HiddenFor(model => model.DateEndEstimated)

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.TextAreaFor(model => model.Note, new { @rows = 5, @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salva" class="btn btn-default btn-primary" />
        </div>
    </div>
</div>
}

    <div class="row col-md-12">
        <a href="@Url.Action("Index")" class="btn btn-default pull-right">Torna indietro</a>
    </div>