@model IEnumerable<BrewDay.Domain.Entities.Production>

@{
    ViewBag.Title = "Produzioni";
    ViewBag.Page = "#nav-productions";
}

<h2>Tutte le tue Produzioni</h2>

<br></br> <!--brutto-->

<div class="row col-md-12">
    <table class="table table-hover full-width">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DateStart)</th>
                <th>@Html.DisplayNameFor(model => model.DateEndEstimated)</th>
                <th> @Html.DisplayNameFor(model => model.DateEnd)</th>
                <th> @Html.DisplayNameFor(model => model.Note)</th>
                <th class="no-sort no-search"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateEndEstimated)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateEnd)</td>
                    <td>@Html.DisplayFor(modelItem => item.Note)</td>
                    <td class="action-column">
                        <a href="@Url.Action("Details", new { id = item.ProductionId })"><span class="glyphicon glyphicon-search"></span> Dettagli</a>
                        <a href="@Url.Action("Edit", new { id = item.ProductionId })"><span class="glyphicon glyphicon-pencil"></span> Modifica</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
            $(".table").DataTable({
                language: { url: "/_wwwroot/vendor/datatables/Italian.json" },
                stateSave: true,
                responsive: true,
                colReorder: true,
                columnDefs: [
                    { "targets": "no-sort", "orderable": false },
                    { "targets": "no-search", "searchable": false },
                ]
            });
    </script>
}

