@model IEnumerable<BrewDay.Domain.Entities.Production>

@{
    ViewBag.Title = "Produzioni";
    ViewBag.Page = "#nav-productions";
}

<div class="container">
    <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">?</button>

    <!-- Modale -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Contenuto del modale-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Gestione Produzioni</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Qui viene mostrato lo storico delle Produzioni, sia quelle avviate che quelle terminate.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ho capito!</button>
                </div>
            </div>

        </div>
    </div>

</div>


<h2>Tutte le tue Produzioni</h2>

<br></br> <!--brutto-->

<div class="row col-md-12">
    <table class="table table-hover full-width">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Recipe.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.DateStart)</th>
                <th>@Html.DisplayNameFor(model => model.DateEndEstimated)</th>
                <th> @Html.DisplayNameFor(model => model.DateEnd)</th>
                <th> @Html.DisplayNameFor(model => model.Note)</th>
                <th class="no-sort no-search"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Recipe.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateEndEstimated)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateEnd)</td>
                    <td>@Html.DisplayFor(modelItem => item.Note)</td>
                    <td class="action-column">
                        <a href="@Url.Action("Details", new { id = item.ProductionId })"><span class="glyphicon glyphicon-search"></span> Dettagli</a>
                        <a href="@Url.Action("Edit", new { id = item.ProductionId })"><span class="glyphicon glyphicon-pushpin"></span> Nota</a>
                        <a href="@Url.Action("Stop", new { id = item.ProductionId })"><span class="glyphicon glyphicon-minus-sign" data-toggle="tooltip" title="Interrompi la Produzione"></span> Concludi</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script>
        $(".table").DataTable({
            language: { url: "/_wwwroot/vendor/datatables/Italian.json" },
            stateSave: true,
            responsive: true,
            colReorder: true,
            columnDefs: [
                { "targets": "no-sort", "orderable": false },
                { "targets": "no-search", "searchable": false },
            ]
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>



}

