@model BrewDay.Models.Entities.Ingredient

@{
    ViewBag.Title = Model == null ? "Registra ingrediente" : "Modifica " + Model.Name;
    ViewBag.Page = "#nav-ingredients";
}

<h2>@ViewBag.Title</h2>
<hr />


@using (Html.BeginForm())
{
    <div class="form-horizontal col-md-10">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Hidden fields are used to store information that must remain unchanged -->
        @Html.HiddenFor(model => model.IngredientId)

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @autocomplete = "off", @rows = "5", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-addon">€</div>
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control number-float" } })
                </div>
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </div>
        <p><a href="@Url.Action("Index")" class="btn btn-default pull-right">Torna alla lista ingredienti</a></p>
    </div>
}

