@model BrewDay.Models.Entities.Ingredient

@{
    ViewBag.Title = "Details";
    ViewBag.Page = "#nav-ingredients";
}

<h2>Dettagli</h2>
<hr />

<div class="row col-md-12">
    <dl class="dl-horizontal col-md-8">

        <dt> @Html.DisplayNameFor(model => model.Type) </dt>
        <dd> @Html.DisplayEnumLabel(Model.Type) </dd>

        <dt> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd> @Model.Name </dd>

        <dt> @Html.DisplayNameFor(model => model.Description) </dt>
        <dd> @Model.Description </dd>

        <dt> @Html.DisplayNameFor(model => model.Price) </dt>
        <dd> @Html.DisplayFor(model => model.Price) </dd>

        <dt></dt>
        <dd><a href="@Url.Action("CreateOrEdit", new { id = Model.IngredientId })" class="btn btn-primary margin-top-20">Modifica</a></dd>
    </dl>
</div>

<div class="row col-md-12">
    <a href="@Url.Action("Index")" class="btn btn-default pull-right">Torna alla lista ingredienti</a>
</div>
