@model BrewDay.Domain.Entities.Ingredient

@{
    ViewBag.Title = "Details";
    ViewBag.Page = "#nav-ingredients";
}

<h2>Dettagli</h2>
<hr />

<div class="row col-md-12">
    <dl class="dl-horizontal col-md-8">

        <dt> @Html.DisplayNameFor(model => model.Type) </dt>
        <dd> @Html.DisplayEnumLabel(Model.Type) </dd>

        <dt> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd> @Model.Name </dd>

        <dt> @Html.DisplayNameFor(model => model.Description) </dt>
        <dd> @Model.Description </dd>

        <dt> @Html.DisplayNameFor(model => model.Price) </dt>
        <dd> @Html.DisplayFor(model => model.Price) </dd>

        <dt></dt>
        <dd><a href="@Url.Action("CreateOrEdit", new { id = Model.IngredientId })" class="btn btn-primary margin-top-20">Modifica</a></dd>
    </dl>
</div>

@if (Model.Productions.Count() > 0)
{
    <h3>Questo ingrediente è presente nelle seguenti Produzioni</h3>

    <table class="table table-bordered table-striped table-hover full-width">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateStart)</th>
                <th>@Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateEndEstimated)</th>
                <th>@Html.DisplayNameFor(model => model.Productions.FirstOrDefault().DateEnd)</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Productions)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                <td>@Html.DisplayFor(modelItem => item.DateEndEstimated)</td>
                <td>@Html.DisplayFor(modelItem => item.DateEnd)</td>
                <td class="action-column">
                    <a href=@Url.Action("Details", "Production", new { Id = item.ProductionId }) data-toggle="tooltip" title="Info sulla Produzione" data-placement="right">
                        <span class="glyphicon glyphicon-search"></span>
                        Mostra Dettagli
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<div class="row col-md-12">
    <a href="@Url.Action("Index")" class="btn btn-default pull-right">Torna alla lista ingredienti</a>
</div>
