@model IEnumerable<BrewDay.Domain.Entities.Ingredient>

@{
    ViewBag.Title = "Tutti gli Ingredienti";
    ViewBag.Page = "#nav-ingredients";
}


<h2>
    @ViewBag.Title

    <span class="help-icon glyphicon glyphicon-question-sign cursor-pointer" data-toggle="modal" data-target="#help-modal"
          data-header="Gestione Ingredienti" data-body="Pagina di gestione di tutti gli Ingredienti presenti sul mercato."></span>
</h2>

<div class="row col-md-12">
    <a href="@Url.Action("CreateOrEdit")" class="btn btn-primary pull-right">Registra nuovo Ingrediente</a>
</div>

<div class="row col-md-12">
    <table class="table data-table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Type) </th>
                <th> @Html.DisplayNameFor(model => model.Name) </th>
                <th> @Html.DisplayNameFor(model => model.Price) </th>
                <th> @Html.DisplayNameFor(model => model.Description) </th>
                <th class="no-sort no-search"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @Html.DisplayEnumLabel(item.Type) </td>
                    <td> @Html.DisplayFor(modelItem => item.Name) </td>
                    <td class="text-right"> @Html.DisplayFor(modelItem => item.Price) </td>
                    <td> @Html.DisplayFor(modelItem => item.Description) </td>
                    <td class="action-column">
                        <a href="@Url.Action("Details", new { id = item.IngredientId })"><span class="glyphicon glyphicon-search"></span> Dettagli</a>
                        <a href="@Url.Action("CreateOrEdit", new { id = item.IngredientId })"><span class="glyphicon glyphicon-pencil"></span> Modifica</a>
                        <a href="@Url.Action("Delete", new { id = item.IngredientId })"><span class="glyphicon glyphicon-trash"></span> Elimina</a>
                        <a href="@Url.Action("Create", "Stocks", new { ingredientId = item.IngredientId })" data-toggle="tooltip" title="Aggiungimi alle Scorte" data-placement="right"><span class="glyphicon glyphicon-plus"></span> Stock</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>